@import './boilerplate.scss';

.fullGalleryBox {
margin: 0 auto;
width: 60%;
@include orange-hi-box;
}

.photoTitle {
  text-align: center;
  margin-bottom: 20px;
}

.addedPhotoBox {
  margin: 0 auto;
  width: 50%;
  @include orange-med-box;
}

.existingPhotoBox {
  margin: 0 auto;
  width: 50%;
  @include orange-low-box;
}

.existingPhotoButtonBox {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 20px;
}

img {
  height: 10%;
}