@import './boilerplate.scss';

.headerImgBox {
  display: flex;
height: 20%;
width:20%;
margin:0px;

  
}

.headerImg {
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
}

.headerBox {
  display: flex;
  flex-flow: row;
  justify-self: flex-end;
  background-color: $pink_hi;
  width: 100%;
  margin-bottom: 0px;
  @include shadow;
}

.headerLinks {
  text-align: right;
  margin: 0px;
  a {
    color: white;
    text-decoration: none;
    font-weight: 400;
  }
}

