@import './boilerplate.scss';

.singleGuest {
  display: flex;
  flex-direction: column;

}

.guestBox {
  display: flex;
  flex-direction: row wrap;

}

.box {
  display: flex;
  flex-flow: row wrap;
}