@import './boilerplate.scss';

.singleGuest {
  display: flex;
  flex-direction: column;
  border: solid $purple_med;
  padding: 9px;
  @include shadow; 

}

.guestBox {
  display: flex;
  flex-direction: row wrap;

}

.box {
  display: flex;
  flex-flow: row wrap;
}

.allGuestsBox {
  display: flex;
  justify-content: space-around;
}