@import './boilerplate.scss';

.singleGuest {
  display: flex;
  flex-direction: column;
  @include purple-box;

}

.guestDeleted {
@include orange-low-box;
}

.guestBox {
  display: flex;
  flex-direction: row wrap;

}

.box {
  display: flex;
  flex-flow: row wrap;
}

.allGuestsBox {
  display: flex;
  justify-content: space-around;
}

.rightText {
  text-align: right;
}